GJK_DB_URL='postgresql+psycopg://gw_writer:<PASSWORD>@localhost:5434/gridworks'
GJK_RABBIT__URL = "amqp://smqPublic:smqPublic@127.0.0.1/d1__1"
ENUM_ENCODE = 0

OLD_DB_URL='postgresql+psycopg://journaldb:<PASSWORD>@localhost:5432/test'
